{% extends 'base.html.twig' %}

{% block title %}
  Liste des cours
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "course"
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="mt-2 mb-2">
          <a role="button" class="btn btn-primary" href="{{ path('app_course_new') }}">{{ 'global.btn_add'|trans }}</a>
          {# <button role="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#modalManagecours" onclick="showModalManagecours();">Gérer les cours</button> #}
        </div>
        <div>
          <table class="table table-bordered table-striped display responsive nowrap" id="list_courses">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'administration.course.id'|trans }}</th>
                <th>{{ 'administration.course.title'|trans }}</th>
                <th>{{ 'administration.course.synopsis'|trans }}</th>
                <th>{{ 'administration.course.keywords'|trans }}</th>
                <th>{{ 'administration.course.link'|trans }}</th>
                <th>{{ 'administration.course.position'|trans }}</th>
                <th>{{ 'administration.course.visitors'|trans }}</th>
              </tr>
            </thead>
            <tbody>
              {% for course in courses %}
                <tr>
                  <td>
                    <a href="{{ path('app_course_show', { id: course.id }) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_course_edit', { id: course.id }) }}"><i class="fas fa-pen"></i></a>
                  </td>
                  <td>{{ course.id }}</td>
                  <td>{{ course.title }}</td>
                  <td>{{ course.synopsis }}</td>
                  <td>{{ course.keywords|replace({";": "\n"})|nl2br }}</td>
                  <td>{{ course.link }}</td>
                  <td>{{ course.position }}</td>
                  <td>{{ course.visitors }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="8">{{ 'administration.course.no_course'|trans }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#list_courses').DataTable({
      "destroy": true,
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      // "scrollX": true, // If you want horizontal scrolling, and not responsive
      "responsive": {
        "details": true // If you want to show details in a responsive way
      },
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/{{ app.request.locale == 'en' ? 'English' : 'French' }}.json"
      }
    });
  });
</script>
{% endblock %}
