{% extends 'base.html.twig' %}

{% block title %}
  Modules
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row pt-5">
      <h2>{{ 'module.text'|trans }}</h2>
      <div class="col-12">
        <div class="row pb-5" id="liste_modules">
          {% if listModules is defined and listModules is not empty %}
            {% for value in listModules %}
              <div class="col-xs-1 col-md-6 col-lg-3 mb-3">
                <a href="{{ path('app_course', { course: value.module.uuid, search: '' }) }}" class="text-black">
                  <div class="card">
                    <span class="card-img-top"><img class="img-course" alt="Illustration {{ value.module.label }}" src="{{ asset('/images/' ~ value.module.illustration) }}" loading="lazy" /></span>
                    <div class="card-body">
                      <p class="card-title h5 text-decoration-underline">{{ value.module.label|upper }}</p>
                    </div>
                  </div>
                </a>
              </div>
            {% endfor %}
          {% else %}
            <p>{{ 'module.no_content'|trans }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
