{% extends 'base.html.twig' %}

{% block title %}Course{% endblock %}

{% block body %}
    <h1>Course</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ course.title }}</td>
            </tr>
            <tr>
                <th>Synopsis</th>
                <td>{{ course.synopsis }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ course.keywords }}</td>
            </tr>
            <tr>
                <th>Link</th>
                <td>{{ course.link }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ course.position }}</td>
            </tr>
            <tr>
                <th>Visitors</th>
                <td>{{ course.visitors }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_course_index') }}">back to list</a>

    <a href="{{ path('app_course_edit', {'id': course.id}) }}">edit</a>

    {{ include('course/_delete_form.html.twig') }}
{% endblock %}
