{% extends 'base.html.twig' %}

{% block title %}
  Course
{% endblock %}

{% block main %}
  <div class="container-fluid">
    <div class="row flex-start">
      <div class="col-3 mt-2 mb-2 text-start">
        <a href="{{ path('app_course_index') }}" class="btn btn-success">{{ 'global.btn_back'|trans }}</a>
      </div>
      <div class="col-6 text-center mt-2 mb-2">
        <h1>Course</h1>
      </div>
      <div class="col-3 mt-2 mb-2 text-end">
        <a href="{{ path('app_course_edit', { id: course.id }) }}" class="btn btn-warning">{{ 'global.btn_edit'|trans }}</a>
      </div>
    </div>
  
    <div class="row">
        <div class="col-12">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ course.id }}</td>
                </tr>
                <tr>
                    <th>Title</th>
                    <td>{{ course.title }}</td>
                </tr>
                <tr>
                    <th>Synopsis</th>
                    <td>{{ course.synopsis }}</td>
                </tr>
                <tr>
                    <th>Keywords</th>
                    <td>{{ course.keywords }}</td>
                </tr>
                <tr>
                    <th>Link</th>
                    <td>{{ course.link }}</td>
                </tr>
                <tr>
                    <th>Position</th>
                    <td>{{ course.position }}</td>
                </tr>
                <tr>
                    <th>Visitors</th>
                    <td>{{ course.visitors }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12">
            {{ include('course/_delete_form.html.twig') }}
        </div>
    </div>

  </div>
{% endblock %}
