{% extends 'base.html.twig' %}

{% block title %}
  Mon compte
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/account.css') }}" />
{% endblock %}

{% block javascripts %}
  {# <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.14/index.global.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script> #}
    {# <div id="calendar"></div> #}
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3 pt-2">
    {{ form_errors(form) }}
    <div>
      <!-- Nav tabs -->
      <ul class="nav nav-tabs" id="subnavbar">
        <li class="nav-item">
          <a class="nav-link text-dark active" data-bs-toggle="tab" href="#privacy-informations">{{ 'account.personal_informations'|trans }}</a>
        </li>
        {% if is_granted('ROLE_TRAINEE') %}
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab" href="#favorite-courses">{{ 'course.favorite'|trans }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab" href="#cohort-informations">{{ 'cohort.informations'|trans }}</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab" href="#documents">{{ 'account.documents'|trans }}</a>
        </li>
        {% if is_granted('ROLE_TRAINEE') %}
        <li class="nav-item">
          <a class="nav-link text-dark" data-bs-toggle="tab" href="#statistics">{{ 'account.statistics'|trans }}</a>
        </li>
        {% endif %}
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane container-fluid active fade show" id="privacy-informations">
          <div>
            {% if is_granted('ROLE_TRAINEE') %}
            <div class="row position-relative justify-content-end">
              <div class="col-md-1 col-sm-2 position-absolute ms-auto mt-2">
                <button class="btn btn-primary btn-lg" id="btn_replay_tutorial" title="Relire le tutoriel" onclick="replayTutorial();"><i class="fa-solid fa-person-chalkboard fa-fade"></i></button>
              </div>
            </div>
            {% endif %}
            <div class="row">
              <div class="col-12 text-center">
                <input type="hidden" value="{{ user.avatar.id }}" />
                {% if user.avatar.link starts with 'http://' or user.avatar.link starts with 'https://' %}
                  {% set pickedAvatar = user.avatar.link %}
                {% else %}
                  {% set pickedAvatar = asset('images/avatars/' ~ user.avatar.link) %}
                {% endif %}
                <img class="img-fluid rounded m-5 img-profile" src="{{ pickedAvatar }}" alt="{{ 'account.avatar_alt'|trans({'%name%': user.avatar.label}) }}" />
              </div>
              <div class="col-12 text-center" id="liste_avatars">
                {% if avatars is defined and avatars is not empty %}
                  {% for avatar in avatars %}
                    {% if avatar.link starts with 'http://' or avatar.link starts with 'https://' %}
                        {% set img = avatar.link %}
                    {% else %}
                        {% set img = asset('images/avatars/' ~ avatar.link) %}
                    {% endif %}
                    <img onclick="changerAvatar(this);" data-id="{{ avatar.id }}" class="img-fluid rounded me-2 mb-5 img-preview {{ avatar.id == user.avatar.id ? 'img-selected' : '' }}" src="{{ img }}" alt="{{ 'account.avatar_alt'|trans({'%name%': avatar.label}) }}" />
                  {% endfor %}
                {% endif %}
              </div>
              <div class="col-12" id="form_user">
                {{ form_start(form, { method: 'POST' }) }}
                <div class="row">
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.username, { label: "account.username"|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.lastName, { label: 'account.lastname'|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.firstName, { label: 'account.firstname'|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.password, { label: 'account.password'|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.email, { label: 'account.email'|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3">
                    <div class="form-group">{{ form_row(form.phoneNumber, { label: 'account.phone_number'|trans }) }}</div>
                  </div>
                  <div class="col-6 col-sm-3 d-none">
                    <div class="form-group">{{ form_row(form.avatar, { label: 'account.avatar'|trans }) }}</div>
                  </div>
                </div>
                <div class="row py-2">
                  <div class="col-6 col-sm-3">
                    <div class="form-group d-none">{{ form_row(form.signature, { label: 'account.signature'|trans }) }}</div>
                    <div class="form-group">
                      <span class="pt-2">{{ 'account.draw_signature'|trans }}</span>
                      <canvas class="box-signature" id="signature-pad" width="auto" style="touch-action: none;"></canvas>
                    </div>
                    <span>
                      <button id="approve-signature" class="btn btn-success" type="button" title="{{ 'account.approve_signature'|trans }}"><i class="fa fa-check"></i></button>
                      <button id="clear-signature" class="btn btn-danger" type="button" title="{{ 'account.discard_signature'|trans }}"><i class="fa fa-times"></i></button>
                    </span>
                  </div>
                  {% if user.signature is defined and user.signature is not empty %}
                    <div class="col-6 col-sm-3">
                      <div class="form-group">
                        <span>{{ 'account.current_signature_text'|trans }}</span>
                        <div>
                          <img class="box-signature" id="actual-signature" src="{{ user.signature }}" alt="{{ 'account.current_signature_alt'|trans({'%name%': user.lastName ~ ' ' ~ user.firstName}) }}" />
                        </div>
                      </div>
                    </div>
                  {% endif %}
                </div>
                <div class="row float-end my-3">
                  <div class="form-group">{{ form_row(form.save, { label: 'global.btn_save'|trans, label_attr: { class: 'btn btn-dark' } }) }}</div>
                </div>

                {{ form_end(form) }}
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane container-fluid fade" id="favorite-courses">
          {% if is_granted('ROLE_TRAINEE') and trainee is defined and trainee is not empty %}
          <div class="container">
            <div class="row mt-3">
              <div class="col-12">
                <h2>{{ 'course.favorite'|trans }}</h2>
              </div>
              {% if trainee.traineeCourseFavorites is defined and trainee.traineeCourseFavorites is not empty %}
                <div class="col-12">
                  {% for favorite in trainee.traineeCourseFavorites %}
                    {% set course = favorite.course %}
                    {{ include("_components/_card.html.twig", {isSummary: true}) }}
                  {% endfor %}
                </div>
              {% else %}
                <div class="col-6">
                  <p>{{ 'course.no_favorite'|trans }}</p>
                </div>
              {% endif %}
            </div>
          </div> 
          {% endif %}
        </div>

        <div class="tab-pane container-fluid fade" id="cohort-informations">
            {% if is_granted('ROLE_TRAINEE') and trainee is defined and trainee is not empty %}
            <div class="container">
              <div class="row mt-3">
                <div class="col-12">
                  <h2>{{ 'cohort.informations'|trans }}</h2>
                </div>
                {% if cohort is defined and cohort is not empty %}
                  <div class="col-6">
                    <p>
                      <b>{{ 'cohort.name'|trans }}:</b>&nbsp;{{ cohort.name }}
                    </p>
                    <p>
                      <b>{{ 'cohort.acronym'|trans }}:</b>&nbsp;{{ cohort.acronym }}
                    </p>
                    <p>
                      <b>{{ 'cohort.trainer'|trans }}:</b>&nbsp;{{ cohort.first_name }}&nbsp;{{ cohort.last_name }} - <a href="mailto:{{ cohort.email }}">{{ cohort.email }}</a>
                    </p>
                    <p>
                      <b>{{ 'cohort.key_dates'|trans }}:</b>
                      <ul>
                        <li>{{ 'cohort.training_start_date'|trans }} {{ app.request.attributes.get('_locale') == 'fr' ? cohort.start_date|date('d/m/Y') : cohort.start_date|date('m/d/Y') }}</li>
                        <li>{{ 'cohort.training_end_date'|trans }} {{ app.request.attributes.get('_locale') == 'fr' ? cohort.finish_date|date('d/m/Y') : cohort.finish_date|date('m/d/Y') }}</li>
                        <li>{{ 'internship.internships'|trans }}</li>
                        {% if cohort.documents is defined and cohort.documents is not empty %}
                          {% set documents = cohort.documents|json_decode %} 
                          {% if documents.internships is defined and documents.internships is not empty %}
                            {% for internship in documents.internships %}
                              <ul>
                              <li>{{ internship.label }}</li>
                              <ul>
                                <li>{{ 'internship.begin_internship'|trans }}: {{ app.request.attributes.get('_locale') == 'fr' ? internship.start_date|date('d/m/Y') : internship.start_date|date('m/d/Y') }}</li>
                                <li>{{ 'internship.end_internship'|trans }}: {{ app.request.attributes.get('_locale') == 'fr' ? internship.finish_date|date('d/m/Y') : internship.finish_date|date('m/d/Y') }}</li>
                              </ul>
                            </ul>
                            {% endfor %}
                          {% endif %}
                        {% else %}
                          <ul>
                            <li>{{ 'internship.no_internship'|trans }}</li>
                          </ul>
                        {% endif %}
                      </ul>
                    </p>
                  </div>
                  <div class="col-6 text-center">
                    {% if cohort.shield is defined and cohort.shield is not empty %}
                    <img src="{{ asset('images/shields/' ~ cohort.shield) }}" class="shield_picture" alt="{{ 'cohort.shield'|trans }}"/>
                    <p>
                      <b>{{ 'cohort.shield'|trans }}</b>
                    </p>
                    {% else %}
                      {{ 'cohort.no_shield'|trans }}
                    {% endif %}
                  </div>
                {% else %}
                  <div class="col-6">
                    <p>{{ 'cohort.no_information'|trans }}</p>
                  </div>
                {% endif %}
              </div>
              {% if surveys is defined and surveys is not empty %}
              <div class="row my-4">
                {% for survey in surveys %}
                  {% if survey.rate == 5.00 %}
                    {% set img = "tres_satisfait.png" %}
                    {% set alt = "Très satisfait" %}
                  {% elseif survey.rate == 4.00 %}
                    {% set img = "satisfait.png" %}
                    {% set alt = "Satisfait" %}
                  {% elseif survey.rate == 3.00 %}
                    {% set img = "neutre.png" %}
                    {% set alt = "Neutre" %}
                  {% elseif survey.rate == 2.00 %}
                    {% set img = "insatisfait.png" %}
                    {% set alt = "Insatisfait" %}
                  {% elseif survey.rate == 1.00 %}
                    {% set img = "tres_insatisfait.png" %}
                    {% set alt = "Très insatisfait" %}
                  {% else %}
                    {% set img = "" %}
                    {% set alt = "Introuvable" %}
                  {% endif %}
                  <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 col-12 text-center">
                    <div title="{{ survey.answer != '' ? survey.answer : 'Aucun commentaire laissé.' }}">
                    <img src="{{ asset('images/surveys/' ~ img) }}" alt="{{ alt }}">
                  </div>
                {% endfor %}
              </div>
              {% endif %}
            </div> 
            {% endif %}
        </div>

        <div class="tab-pane container-fluid fade" id="documents">
            <div class="row mt-3">
              <div class="col-12">
                <h2>Documents{% if is_granted('ROLE_TRAINER') %} personnels{% else %} en cours de formation{% endif %}</h2>
                <table class="table table-bordered table-striped compact w-100" style="margin: 0 auto;">
                  <thead>
                    <tr>
                      <th scope="col">Intitulé du document</th>
                      <th scope="col">Lien</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if is_granted('ROLE_TRAINER') %}
                    <td colspan="2">Planning, Attestation de formation...</td>
                    {% elseif is_granted('ROLE_TRAINEE') %}
                    <td colspan="2">Attestation d'entrée, de fin de formation, d'acquisition, délivrance de certificats complémentaires, démarches extérieures...</td>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
            {% if is_granted('ROLE_TRAINEE') %}
            <div class="row mt-3">
              <div class="col-12">
                <h2>Documents de stages</h2>
                <table class="table table-bordered table-striped display responsive nowrap w-100" style="margin: 0 auto;" id="list_documents">
                  <thead>
                    <tr>
                      <th scope="col">Stage</th>
                      <th scope="col">Période</th>
                      <th scope="col">Contact</th>
                      <th scope="col">Convention</th>
                      <th scope="col">Attestation</th>
                      <th scope="col">Évaluation</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if trainee.documents is defined and trainee.documents is not empty %}
                      {% set documents = trainee.documents|json_decode %} 
                      {% set cohort_documents = cohort.documents|json_decode %} 
                       {% if documents.internships is defined and documents.internships is not empty %}
                          {% for internship in documents.internships %}
                          <tr>
                            <td>{{ cohort_documents.internships[internship.id - 1].label }}</td>
                            <td>{{ cohort_documents.internships[internship.id - 1].start_date|date('d/m/Y') ~ " au " ~ cohort_documents.internships[internship.id - 1].finish_date|date('d/m/Y') }}</td>
                            {% if internship.agreement == 0 %}
                            <td>A définir...</td>
                            <td class="text-center">
                              <a href="{{ path('pdf_generate', {element: 'internship-agreement'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a>
                              <label for="upload-agreement"></label>
                              <input type="file" id="upload-agreement" name="upload-agreement" onchange="sendAgreement(this.name);" accept=".pdf" class="d-none">
                              <div class="btn btn-success" onclick="$('#upload-agreement').click();"><i class="fa-solid fa-upload"></i></div>
                            </td>
                            {% elseif internship.agreement == 2 %}
                            <td>A définir par votre référent·e...</td>
                            <td>En cours de révision par votre référent·e...</td>
                            {% elseif internship.agreement == 1 and internship.agreement_link is defined and internship.agreement_link is not empty %}
                            <td>
                              {% for value in internships %}
                                {% if value.id == internship.internship_id %}
                                  <div>
                                    {{ value.tutorLastName ~ ' ' ~ value.tutorFirstName }}
                                  </div>
                                  <div>
                                    <a href="mailto:{{ value.tutorEmail }}">{{ value.tutorEmail }}</a>
                                  </div>
                                  <div>
                                    <a href="tel:{{ value.tutorPhoneNumber }}">{{ value.tutorPhoneNumber }}</a>
                                  </div>
                                {% endif %}
                              {% endfor %}
                            </td>
                            <td class="text-center"><a target="_blank" href="{{ asset('internships/' ~ trainee.username ~ '/Convention_de_stage_' ~ internship.agreement_link ~ '.pdf') }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a></td>
                            {% endif %} 
                            
                            {% if internship.certificate == 0 %}
                            <td class="text-center">
                              <a href="{{ path('pdf_generate', {element: 'internship-certificate'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a>
                              <label for="upload-certificate"></label>
                              <input type="file" id="upload-certificate" name="upload-certificate" onchange="sendCertificate(this.name);" accept=".pdf" class="d-none">
                              <div class="btn btn-success" onclick="$('#upload-certificate').click();"><i class="fa-solid fa-upload"></i></div>
                            </td>
                            {% elseif internship.certificate == 2 %}
                            <td>En cours de révision par votre référent·e...</td>
                            {% elseif internship.certificate == 1 and internship.certificate_link is defined and internship.certificate_link is not empty %}
                            <td class="text-center"><a target="_blank" href="{{ asset('internships/' ~ trainee.username ~ '/' ~ internship.certificate_link) }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a></td>
                            {% endif %} 
                            
                            {% if internship.evaluation == 0 %}
                            <td class="text-center">
                              <a href="{{ path('pdf_generate', {element: 'internship-evaluation'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a>
                              <label for="upload-evaluation"></label>
                              <input type="file" id="upload-evaluation" name="upload-evaluation" onchange="sendEvaluation(this.name);" accept=".pdf" class="d-none">
                              <div class="btn btn-success" onclick="$('#upload-evaluation').click();"><i class="fa-solid fa-upload"></i></div>
                            </td>
                            {% elseif internship.evaluation == 2 %}
                            <td>En cours de révision par votre référent·e...</td>
                            {% elseif internship.evaluation == 1 and internship.evaluation_link is defined and internship.evaluation_link is not empty %}
                            <td class="text-center"><a target="_blank" href="{{ asset('internships/' ~ trainee.username ~ '/' ~ internship.evaluation_link) }}" class="btn btn-primary"><i class="fa-solid fa-eye"></i></a></td>
                            {% endif %} 
                          </tr>
                          {% endfor %}
                        {% endif %}
                    {% elseif cohort.documents is defined and cohort.documents is not empty %}
                      {% set documents = cohort.documents|json_decode %} 
                      {% for internship in documents.internships %}
                      <tr class="text-center">
                        <td>{{ internship.label }}</td>
                        <td>{{ internship.start_date|date('d/m/Y') }}&nbsp;-&nbsp;{{ internship.finish_date|date('d/m/Y') }}</td>
                        <td><em>A définir...</em></td>
                        <td><a href="{{ path('pdf_generate', {element: 'internship-agreement'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a></td>
                        <td><a href="{{ path('pdf_generate', {element: 'internship-certificate'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a></td>
                        <td><a href="{{ path('pdf_generate', {element: 'internship-evaluation'}) }}" target="_blank" rel="noopener noreferrer" class="btn btn-success"><i class="fa-solid fa-download"></i></a></td>
                      </tr>
                      {% endfor %}
                    {% else %}
                      <tr><td colspan="5">Pas de stage programmé pour votre cohorte.</td></tr>
                    {% endif %}
                  </tbody>
                </table>
              </div>
            </div>
          {% endif %}
        </div>
        
        <div class="tab-pane container-fluid fade" id="statistics">
            {% if is_granted('ROLE_TRAINEE') and trainee is defined and trainee is not empty %}
            <div class="container">
              <div class="row mt-3">
                <div class="col-12 col-md-6 d-flex flex-column">
                  <h2>{{ 'account.graph.courses.text'|trans }}</h2>
                  <canvas id="opened-courses"></canvas>
                </div>
                <div class="col-12 col-md-6 d-flex flex-column">
                  <h2>{{ 'account.graph.homeworks.text'|trans }}</h2>
                  <canvas id="homework-returned"></canvas>
                </div>
              </div>
            </div> 
            {% endif %}
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/signature_pad@4.1.7/dist/signature_pad.umd.min.js"></script>
  {% if is_granted('ROLE_TRAINEE') %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctxOpenedCourses = document.getElementById('opened-courses').getContext('2d');
    new Chart(ctxOpenedCourses, 
      {
        type: 'pie',
        data: {
          labels: [
            '{{ "account.graph.courses.label_one"|trans }}',
            '{{ "account.graph.courses.label_two"|trans }}',
          ],
          datasets: [{
            label: 'TPs',
            data: [{{ graphDataCourses.value_one }}, {{ graphDataCourses.value_two }}],
            backgroundColor: [
              'rgb(247, 17, 137)',
              'rgb(0, 118, 189)',
            ],
            hoverOffset: 4
          }]
        }, 
        options: {
          responsive: true,  // Désactiver la réactivité si tu veux utiliser des dimensions fixes
          plugins: {
            legend: {
              position: 'bottom'
            }
          }
        }
      }
    );
    
    const ctxHomeworkReturned = document.getElementById('homework-returned').getContext('2d');
    new Chart(ctxHomeworkReturned, 
      {
        type: 'doughnut',
        data: {
          labels: [
            '{{ "account.graph.homeworks.label_one"|trans }}',
            '{{ "account.graph.homeworks.label_two"|trans }}',
            // 'TP corrigés',
          ],
          datasets: [{
            label: 'TPs',
            data: [{{ graphDataHomeworks.value_one }}, {{ graphDataHomeworks.value_two }}],
            backgroundColor: [
              'rgb(247, 147, 30)',
              'rgb(78, 166, 130)',
              // 'rgb(99, 76, 168)',
            ],
            hoverOffset: 4
          }]
        }, 
        options: {
          responsive: true,  // Désactiver la réactivité si tu veux utiliser des dimensions fixes
          maintainAspectRatio: false,  // Permet de redimensionner sans garder le ratio fixe
          plugins: {
            legend: {
              position: 'bottom'
            }
          }
        }
      }
    );
  </script>
  {% endif %}
  <script src="{{ asset('js/account.js') }}"></script>
  <script>
    $(document).ready(function () {
      if (localStorage.getItem('tg_tours_complete') !== null && !localStorage.getItem('tg_tours_complete').includes('trainee-informations') && {{ is_granted('ROLE_TRAINEE') ? "true" : "false" }}) {
        tg.start('trainee-informations');
      }
      {% if documents.internships is defined and documents.internships is not empty %}
        $('#list_documents').DataTable({
          "destroy": true,
          "paging": false,
          "lengthChange": false,
          "searching": false,
          "ordering": false,
          "info": false,
          "autoWidth": true,
          // "scrollX": true, // If you want horizontal scrolling, and not responsive
          "responsive": {
            "details": true // If you want to show details in a responsive way
          },
          "language": {
            "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/{{ app.request.locale == 'en' ? 'English' : 'French' }}.json"
          }
        });
      {% endif %}
    });
  </script>
{% endblock %}
