{% extends 'base.html.twig' %}

{% block title %}
  Connexion
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
{% endblock %}

{% block body %}
  <div class="container justify-content-center d-flex">
    <div class="row">
      <div class="col-12 text-center">
        <img src="{{ asset('/images/adrar_logo.svg') }}" alt="Logo de l'ADRAR" width="150" />
        <h1 class="h3 mt-5 font-weight-700">Re bienvenue sur l'ERP</h1>
      </div>
      <div class="col-12">
        <form method="post">
          {% if error %}
            <div class="alert alert-temporary alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
          {% endif %}
          {% for flashMessage in app.session.flashbag.get('notice') %}
            {% include '_components/_alert.html.twig' with { 'type': 'success', 'bg': 'success', 'fa': 'bell', 'message': flashMessage } %}
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('info') %}
            {% include '_components/_alert.html.twig' with { 'type': 'info', 'bg': 'info', 'fa': 'info', 'message': flashMessage } %}
          {% endfor %}
          {% for flashMessage in app.session.flashbag.get('error') %}
            {% include '_components/_alert.html.twig' with { 'type': 'error', 'bg': 'danger', 'fa': 'times', 'message': flashMessage } %}
          {% endfor %}

          <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
          <div>
            <label for="inputUsername">Nom d'utilisateur</label>
            <input type="text" value="{{ last_username }}" placeholder="johndoe" name="username" id="inputUsername" class="form-control border-0" autocomplete="username" required autofocus />
          </div>
          <div>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" placeholder="motdepasse" name="password" id="inputPassword" class="form-control border-0" autocomplete="current-password" required />
          </div>

          <div class="checkbox mb-3">
            <label class="d-flex align-items-center"><input type="checkbox" name="_remember_me" />&nbsp;Se souvenir de moi</label>
          </div>
          <p>
            Mot de passe oublié ? <a class="link link-opacity-75 link-opacity-100-hover" href="{{ path('app_recovery', { code: null }) }}">Générez-en un nouveau</a>
          </p>
          <button class="btn btn-lg btn-primary w-100" type="submit">Connexion</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
