{% extends 'base.html.twig' %}

{% block title %}
  Accueil
{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css" />
  <link rel="stylesheet" href="{{ asset('css/index.css') }}" />
{% endblock %}

{% block javascripts %}
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-center">{{ 'home.welcome'|trans }}</h1>
        <p class="text-center text-small">{{ 'home.welcome_small'|trans }}</p>
      </div>
    </div>

    {% if satisfactionSurvey and satisfactionSurvey.finish_date <= ('now'|date('Y-m-d')) %}
      <div class="row pt-5">
        <div class="alert alert-success w-auto" role="alert" id="endSurvey">
          <h4 class="alert-heading">{{ 'survey.heading'|trans }}</h4>
          <p>{{ 'survey.paragraph'|trans }}</p>
          <hr />
          <p class="mb-0">
            <a class="btn btn-secondary text-white" href="{{ path('app_survey') }}">{{ 'survey.answer'|trans }}</a>
          </p>
        </div>
      </div>
    {% endif %}

    {% if is_granted('ROLE_TRAINEE') and latestCourses is defined %}
      <div class="row pt-5">
        <h2>{{ 'course.latest_courses'|trans }}</h2>
        {% if latestCourses is not empty %}
          {% for course in latestCourses %}
            {{ include('_components/_card.html.twig', { isSummary: true }) }}
          {% endfor %}
        {% else %}
          <p>{{ 'course.no_content_latest_courses'|trans }}</p>
        {% endif %}
      </div>
    {% endif %}
    <div class="row pt-5 pb-5">
      <h2>{{ 'course.popular_courses'|trans }}</h2>
      <div class="col-12">
        {% if popularCourses is not empty %}
          <section class="splide splide01" aria-label="{{ 'course.popular_courses'|trans }}">
            <ul class="splide__pagination"></ul>
            <div class="splide__track">
              <ul class="splide__list">
                {% for course in popularCourses %}
                  {% include '_components/_card3.html.twig' %}
                {% endfor %}
              </ul>
            </div>
          </section>
        {% else %}
          <p>{{ 'course.no_content_popular_courses'|trans }}</p>
        {% endif %}
      </div>
    </div>
    <div class="row pt-5 pb-5">
      <h2>{{ 'survey.review'|trans }}</h2>
      <div class="col-12">
        {% if traineesOpinions %}
          <section class="splide splide02" aria-label="{{ 'survey.review'|trans }}">
            <ul class="splide__pagination"></ul>
            <div class="splide__track">
              <ul class="splide__list">
                {% for opinion in traineesOpinions %}
                  {% if opinion.link starts with 'http://' or opinion.link starts with 'https://' %}
                    {% set avatarPicked = opinion.link %}
                  {% else %}
                    {% set avatarPicked = asset('images/avatars/' ~ opinion.link) %}
                  {% endif %}
                  <li class="splide__slide">
                    <div class="splide__slide__container">
                      <blockquote>
                        <p class="opacity-100">{{ opinion.answer|raw }}</p>
                        <footer class="opacity-100">
                          —&nbsp;<img style="border-radius: 100%;border:1px lightgrey solid;width:25px;" alt="{{ opinion.label }}" src="{{ avatarPicked }}" loading="lazy" />&nbsp;{{ opinion.first_name }}
                        </footer>
                      </blockquote>
                    </div>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        {% else %}
          <p>{{ 'survey.no_content'|trans }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
  <script src="{{ asset('js/index.js') }}"></script>
  <script>
    $(document).ready(function () {
      // Displaying tutorials if not already done and if the user is enabled to
      if (localStorage.getItem('tg_tours_complete') === null && {{ is_granted('ROLE_TRAINEE') ? "true" : "false" }}) {
        tg.start('trainee-index');
      }
      if (localStorage.getItem('tg_tours_complete') !== null && !localStorage.getItem('tg_tours_complete').includes('trainee-end-survey-index') && $('#endSurvey').length > 0 && {{ is_granted('ROLE_TRAINEE') ? "true" : "false" }}) {
        tg.start('trainee-end-survey-index');
      }
    })
  </script>
{% endblock %}
