{% extends 'base.html.twig' %}

{% block title %}
  Inscription
{% endblock %}

{% block body %}
  <h1>Inscription</h1>

  {{ form_errors(registrationForm) }}

  {{ form_start(registrationForm) }}
  {{ form_row(registrationForm.username, {value: 'marceaurodrigues'}) }}
  {{ form_row(registrationForm.lastName, {value: 'RODRIGUES'}) }}
  {{ form_row(registrationForm.firstName, {value: 'Marceau'}) }}
  {{ form_row(registrationForm.email, {value: 'marceaurodrigues@adrar-formation.com'}) }}
  {{ form_row(registrationForm.plainPassword, { label: 'Password', value: 'adrar' }) }}
  {{ form_row(registrationForm.plainPassword2, { label: 'Password', value: 'adrar' }) }}

  <button type="submit" class="btn">Register</button>
  {{ form_end(registrationForm) }}
{% endblock %}
