{% extends 'base.html.twig' %}

{% block title %}QuizShare index{% endblock %}

{% block body %}
    <h1>QuizShare index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Start_date</th>
                <th>Finish_date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quiz_share in quiz_shares %}
            <tr>
                <td>{{ quiz_share.id }}</td>
                <td>{{ quiz_share.startDate ? quiz_share.startDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quiz_share.finishDate ? quiz_share.finishDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_quiz_share_show', {'id': quiz_share.id}) }}">show</a>
                    <a href="{{ path('app_quiz_share_edit', {'id': quiz_share.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_quiz_share_new') }}">Create new</a>
{% endblock %}
