{% if messages is defined and messages is not empty %}
  {% for message in messages %}
    {% if message.originalMessage is not empty %}
      {# Design du message auquel l'utilisateur actuel répond #}
      <a href="#msg-{{ message.originalMessage.id }}" onclick="goToMessage({{ message.originalMessage.id }});" class="text-muted small text-decoration-none text-nowrap pb-2 {{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'text-end me-5' : 'text-start  ms-5' }}">
        {% if message.originalMessage.sendTrainer.avatar.link ?? message.originalMessage.sendTrainee.avatar.link starts with 'http://' or message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link starts with 'https://' %}
          {% set avatarUser = message.originalMessage.sendTrainer.avatar.link ?? message.originalMessage.sendTrainee.avatar.link %}
        {% else %}
          {% set avatarUser = asset('images/avatars/' ~ message.originalMessage.sendTrainer.avatar.link ?? message.originalMessage.sendTrainee.avatar.link) %}
        {% endif %}
        <img src="{{ avatarUser }}" class="rounded-circle ms-3" alt="{{ message.originalMessage.sendTrainer.firstName ?? message.originalMessage.sendTrainee.firstName }} {{ message.originalMessage.sendTrainer.lastName ?? message.originalMessage.sendTrainee.lastName }}" width="20" height="20" />
        <span class="fw-600">@{{ message.originalMessage.sendTrainer.id ?? null == app.user.id or message.originalMessage.sendTrainee.id ?? null == app.user.id ? 'You' : message.originalMessage.sendTrainer.username ?? message.originalMessage.sendTrainee.username }}</span>
        &nbsp;{{ message.originalMessage.content }}
      </a>
    {% endif %}
    <div id="msg-{{ message.id }}" class="chat-message-{{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'right mb-4' : 'left pb-4' }} pb-4">
      <div>
        {% if message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link starts with 'http://' or message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link starts with 'https://' %}
          {% set avatarUser = message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link %}
        {% else %}
          {% set avatarUser = asset('images/avatars/' ~ message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link) %}
        {% endif %}
        <img src="{{ avatarUser }}" class="rounded-circle me-1" alt="{{ message.sendTrainer.firstName ?? message.sendTrainee.firstName }} {{ message.sendTrainer.lastName ?? message.sendTrainee.lastName }}" width="40" height="40" />
      </div>
      <div class="flex-shrink-1 rounded py-2 px-3 mx-3 me-3">
        <div class="fw-bold mb-1">{{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'You' : message.sendTrainer.firstName ?? message.sendTrainee.firstName ~ ' ' ~ message.sendTrainer.lastName ?? message.sendTrainee.lastName }}</div>{{ message.content }}<div class="small text-nowrap mt-2">{{ message.date|time_ago }}</div>
      </div>
      <div data-message="{{ message.id }}" data-content="{{ message.content|raw }}" data-from="{{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'You' : message.sendTrainer.firstName ?? message.sendTrainee.firstName ~ ' ' ~ message.sendTrainer.lastName ?? message.sendTrainee.lastName }}" onclick="replyTo(this);">
        <i class="fa-solid fa-reply"></i>
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="text-center">
    <dotlottie-player src="https://lottie.host/42d43b29-1cd3-43c6-b2d9-77c963210dd0/ahpeOAtfF5.json" style="height: 40vh;" background="transparent" speed="1" loop="true" autoplay="true"></dotlottie-player>
    <p>{{ 'mailbox.no_content'|trans }}</p>
  </div>
{% endif %}
<span class="d-none" id="go_to_bottom"></span>
