{% if messages is defined and messages is not empty %}
  {% for message in messages %}
    <div class="chat-message-{{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'right mb-4' : 'left pb-4' }} pb-4">
      <div>
        {% if message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link starts with 'http://' or message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link starts with 'https://' %}
          {% set avatarUser = message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link %}
        {% else %}
          {% set avatarUser = asset('images/avatars/' ~ message.sendTrainer.avatar.link ?? message.sendTrainee.avatar.link) %}
        {% endif %}
        <img src="{{ avatarUser }}" class="rounded-circle me-1" alt="{{ message.sendTrainer.firstName ?? message.sendTrainee.firstName }} {{ message.sendTrainer.lastName ?? message.sendTrainee.lastName }}" width="40" height="40" />
        <div class="text-muted small text-nowrap mt-2">{{ message.date|time_ago }}</div>
      </div>
      <div class="flex-shrink-1 rounded py-2 px-3 mx-3 me-3">
        <div class="fw-bold mb-1">{{ message.sendTrainer.id ?? null == app.user.id or message.sendTrainee.id ?? null == app.user.id ? 'You' : message.sendTrainer.firstName ?? message.sendTrainee.firstName ~ ' ' ~ message.sendTrainer.lastName ?? message.sendTrainee.lastName }}</div>{{ message.content }}
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="text-center">
    <dotlottie-player src="https://lottie.host/42d43b29-1cd3-43c6-b2d9-77c963210dd0/ahpeOAtfF5.json" style="height: 40vh;" background="transparent" speed="1" loop="true" autoplay="true"></dotlottie-player>
    <p>{{ 'mailbox.no_content'|trans }}</p>
  </div>
{% endif %}
<span class="d-none" id="go_to_bottom"></span>
