{% extends 'base.html.twig' %}

{% block title %}
  Statistiques
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "statistic",
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="row mt-2 mb-2">
            <div class="col-4">
                <div class="border border-top-0" style="border-top: 3px solid var(--coul-principale) !important; height: 300px;">
                    <div class="pt-3 px-3 h5">
                        {{ 'administration.internship.menu'|trans }}
                    </div>
                    <hr>
                    <div class="pb-3 px-3">
                        <div class="row" style="height: 10vh;">
                            <div class="col-6">
                                <div class="border border-primary h-100 p-2">
                                    <span>{{ 'administration.statistic.internship.agreement_percentage'|trans({ '%percentage%': (ratio_agreement * 100)|number_format(2, ',', ' ') })|striptags('<b>')|raw }}</span>
                                    <p>{{ ratio_agreement_label }}</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="border border-secondary h-100 p-2">
                                    <span>{{ 'administration.statistic.internship.certificate_percentage'|trans({ '%percentage%': (ratio_certificate * 100)|number_format(2, ',', ' ') })|striptags('<b>')|raw }}</span>
                                    <p>{{ ratio_certificate_label }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb-3 px-3">
                        <div class="row" style="height: 10vh;">
                            <div class="col-6">
                                <div class="border border-primary h-100 p-2">
                                    <span>{{ 'administration.statistic.internship.evaluation_percentage'|trans({ '%percentage%': (ratio_evaluation * 100)|number_format(2, ',', ' ') })|striptags('<b>')|raw }}</span>
                                    <p>{{ ratio_evaluation_label }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="border border-top-0" style="border-top: 3px solid var(--coul-principale) !important; height: 300px;">
                    <div class="pt-3 px-3 h5">
                        {{ 'administration.cohort.menu'|trans }}
                    </div>
                    <hr>
                    <div class="pb-3 px-3">
                        <div class="row" style="height: 10vh;">
                            <div class="col-6">
                                <div class="border border-primary h-100 p-2">
                                    <span>{{ 'administration.statistic.cohort.graduation_percentage'|trans({ '%percentage%': (0 * 100)|number_format(2, ',', ' ') })|striptags('<b>')|raw }}</span>
                                    <p></p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="border border-secondary h-100 p-2">
                                    <span>{{ 'administration.statistic.cohort.satisfaction_percentage'|trans({ '%percentage%': (0 * 100)|number_format(2, ',', ' ') })|striptags('<b>')|raw }}</span>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}