{% extends 'base.html.twig' %}

{% block title %}
  Liste des cohortes
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "cohort"
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="mt-2 mb-2">
          <a role="button" class="btn btn-primary" href="{{ path('app_cohort_new') }}">{{ 'global.btn_add'|trans }}</a>
        </div>
        <div>
          <table class="table table-bordered table-striped display responsive nowrap" style="margin: 0 auto;" id="list_cohorts">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'administration.cohort.id'|trans }}</th>
                <th>{{ 'administration.cohort.name'|trans }}</th>
                <th>{{ 'administration.cohort.acronym'|trans }}</th>
                <th>{{ 'administration.cohort.shield'|trans }}</th>
                <th>{{ 'administration.cohort.documents'|trans }}</th>
                <th>{{ 'administration.cohort.start_date'|trans }}</th>
                <th>{{ 'administration.cohort.finish_date'|trans }}</th>
                <th>{{ 'administration.cohort.uuid'|trans }}</th>
              </tr>
            </thead>
            <tbody>
              {% for cohort in cohorts %}
                <tr>
                  <td>
                    <a href="{{ path('app_cohort_show', { uuid: cohort.uuid }) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_cohort_edit', { uuid: cohort.uuid }) }}"><i class="fas fa-pen"></i></a>
                  </td>
                  <td>{{ cohort.id }}</td>
                  <td>{{ cohort.name }}</td>
                  <td>{{ cohort.acronym }}</td>
                  <td class="text-center">
                    {% if cohort.shield is defined and cohort.shield is not empty %}
                      {% if cohort.shield starts with 'http://' or cohort.shield starts with 'https://' %}
                        {% set shield = cohort.shield %}
                      {% else %}
                        {% set shield = asset('images/shields/' ~ cohort.shield) %}
                      {% endif %}
                      <img src="{{ shield }}" height="150" alt="{{ 'administration.cohort.shield_alt'|trans({'%cohort%': cohort.name}) }}">
                    {% endif %}
                  </td>
                  <td>
                    {% set documents = cohort.documents|json_decode|json_decode %}
                    {% if documents.internships is defined and documents.internships is not empty %}
                      <ul>
                      {% for internship in documents.internships %}
                        <li>{{ internship.label }}: {{ internship.start_date|date('d/m/Y') }} - {{ internship.finish_date|date('d/m/Y') }} | {{ internship.duration }}h</li>
                      {% endfor %}
                      </ul>
                    {% else %}
                      {{ 'administration.cohort.no_documents'|trans }}  
                    {% endif %}
                  </td>
                  <td>{{ cohort.startDate ? cohort.startDate|date('Y-m-d') : '' }}</td>
                  <td>{{ cohort.finishDate ? cohort.finishDate|date('Y-m-d') : '' }}</td>
                  <td>{{ cohort.uuid }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="9">{{ administration.cohort.no_cohort|trans }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    {% if cohorts is defined and cohorts is not empty %}
      $('#list_cohorts').DataTable({
        "destroy": true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        // "scrollX": true, // If you want horizontal scrolling, and not responsive
        "responsive": {
          "details": true // If you want to show details in a responsive way
        },
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/{{ app.request.locale == 'en' ? 'English' : 'French' }}.json"
        }
      });
    {% endif %}
  });
</script>
{% endblock %}