{% extends 'base.html.twig' %}

{% block title %}
  Liste des cohortes
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "cohort"
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="mt-2 mb-2">
          <a role="button" class="btn btn-primary" href="{{ path('app_cohort_new') }}">Ajouter une cohorte</a>
        </div>
        <div>
          <table class="table table-bordered table-striped" style="margin: 0 auto;" id="list_cohorts">
            <thead>
              <tr>
                <th>actions</th>
                <th>Id</th>
                <th>Name</th>
                <th>Acronym</th>
                <th>Shield</th>
                <th>Documents</th>
                <th>StartDate</th>
                <th>FinishDate</th>
                <th>Uuid</th>
              </tr>
            </thead>
            <tbody>
              {% for cohort in cohorts %}
                <tr>
                  <td>
                    <a href="{{ path('app_cohort_show', { uuid: cohort.uuid }) }}">show</a>
                    <a href="{{ path('app_cohort_edit', { uuid: cohort.uuid }) }}">edit</a>
                  </td>
                  <td>{{ cohort.id }}</td>
                  <td>{{ cohort.name }}</td>
                  <td>{{ cohort.acronym }}</td>
                  <td>{{ cohort.shield }}</td>
                  <td>{{ cohort.documents|json_decode }}</td>
                  <td>{{ cohort.startDate ? cohort.startDate|date('Y-m-d') : '' }}</td>
                  <td>{{ cohort.finishDate ? cohort.finishDate|date('Y-m-d') : '' }}</td>
                  <td>{{ cohort.uuid }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="9">no records found</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#list_cohorts').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      "responsive": true,
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/French.json"
      }
    });
  });
</script>
{% endblock %}