{{ form_start(form) }}
<div class="row">
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.theme, { label: 'administration.faq.theme'|trans }) }}</div>
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.title, { label: 'administration.faq.title'|trans }) }}</div>
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.content, { label: 'administration.faq.content'|trans }) }}</div>
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.priority, { label: 'administration.faq.priority'|trans }) }}</div>
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.sector, { label: 'administration.faq.sector'|trans }) }}</div>
  <div class="col-sm-12 col-md-3 col-lg-2 form-group">{{ form_row(form.visibility, { label: 'administration.faq.visibility'|trans }) }}</div>
</div>
<div class="row">
  <div class="col-12 mt-2 text-end">
    <button class="btn btn-warning">{{ button_label|default('global.btn_save'|trans) }}</button>
  </div>
</div>
{{ form_end(form) }}
