{% extends 'base.html.twig' %}

{% block title %}
  Liste des FAQs
{% endblock %}

{% block main %}
  <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "faq"
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="mt-2 mb-2">
          <a role="button" class="btn btn-primary" href="{{ path('app_faq_new') }}">{{ 'global.btn_add'|trans }}</a>
        </div>
        <div>
          <table class="table table-bordered table-striped display responsive nowrap" style="margin: 0 auto;" id="list_faqs">
            <thead>
                <tr>
                  <th>#</th>
                  <th>{{ 'administration.faq.id'|trans }}</th>
                  <th>{{ 'administration.faq.theme'|trans }}</th>
                  <th>{{ 'administration.faq.title'|trans }}</th>
                  <th>{{ 'administration.faq.content'|trans }}</th>
                  <th>{{ 'administration.faq.visibility'|trans }}</th>
                  <th>{{ 'administration.faq.priority'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for faq in faqs %}
                <tr>
                  <td class="text-center">
                    <a href="{{ path('app_faq_show', { id: faq.id }) }}"><i class="fas fa-eye"></i></a>
                    <a href="{{ path('app_faq_edit', { id: faq.id }) }}"><i class="fas fa-pen"></i></a>
                  </td>
                  <td>{{ faq.id }}</td>
                  <td>{{ faq.theme }}</td>
                  <td>{{ faq.title }}</td>
                  <td>{{ faq.content }}</td>
                  <td>{{ faq.visibility ? 'global.yes'|trans : 'global.no'|trans }}</td>
                  <td>{{ faq.priority }}</td>
                </tr>
            {% else %}
                <tr>
                  <td colspan="7">{{ 'administration.faq.no_faq'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    {% if faqs is defined and faqs is not empty %}
      $('#list_faqs').DataTable({
        "destroy": true,
        "paging": true,
        "lengthChange": true,
        "searching": true,
        "ordering": true,
        "info": true,
        "autoWidth": true,
        // "scrollX": true, // If you want horizontal scrolling, and not responsive
        "responsive": {
          "details": true // If you want to show details in a responsive way
        },
        "language": {
          "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/{{ app.request.locale == 'en' ? 'English' : 'French' }}.json"
        }
      });
    {% endif %}
  });
</script>
{% endblock %}
