{% extends 'base.html.twig' %}

{% block title %}Internship index{% endblock %}

{% block main %}
 <div class="container-fluid mb-3">
    <div>
      {% include '_components/_subnavbar.html.twig' with { 
        'choosenElement': "internship"
        } 
      %}
    </div>
  
    <div class="tab-content">
      <div class="tab-pane container-fluid active">
        <div class="mt-2 mb-2">
          <a role="button" class="btn btn-primary" href="{{ path('app_internship_new') }}">{{ 'global.btn_add'|trans }}</a>
        </div>
        <div>
          <table class="table table-bordered table-striped display responsive nowrap" style="margin: 0 auto;" id="list_internships">
            <thead>
              <tr>
                <th>#</th>
                <th>{{ 'administration.internship.id'|trans }}</th>
                <th>{{ 'administration.internship.tutor_lastname'|trans }}</th>
                <th>{{ 'administration.internship.tutor_firstname'|trans }}</th>
                <th>{{ 'administration.internship.tutor_email'|trans }}</th>
                <th>{{ 'administration.internship.tutor_phone_number'|trans }}</th>
              </tr>
            </thead>
            <tbody>
            {% for internship in internships %}
              <tr>
                <td>
                  <a href="{{ path('app_internship_show', {'id': internship.id}) }}"><i class="fas fa-eye"></i></a>
                  <a href="{{ path('app_internship_edit', {'id': internship.id}) }}"><i class="fas fa-pen"></i></a>
                </td>
                <td>{{ internship.id }}</td>
                <td>{{ internship.tutorLastName }}</td>
                <td>{{ internship.tutorFirstName }}</td>
                <td>{{ internship.tutorEmail }}</td>
                <td>{{ internship.tutorPhoneNumber }}</td>
              </tr>
            {% else %}
              <tr>
                <td colspan="6">{{ 'administration.internship.no_internship'|trans }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
{% endblock %}

{% block js %}
<script>
  $(document).ready(function() {
    $('#list_internships').DataTable({
      "destroy": true,
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": true,
      // "scrollX": true, // If you want horizontal scrolling, and not responsive
      "responsive": {
        "details": true // If you want to show details in a responsive way
      },
      "language": {
        "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/{{ app.request.locale == 'en' ? 'English' : 'French' }}.json"
      }
    });
  });
</script>
{% endblock %}