{% if course.module.illustration starts with 'http://' or course.module.illustration starts with 'https://' %}
  {% set illustration = course.module.illustration %}
{% else %}
  {% set illustration = asset('images/' ~ course.module.illustration) %}
{% endif %}

<li class="splide__slide">
  <a title="{{ 'course.made_by'|trans({ '%trainer%': (course.trainer.firstname|capitalize) ~ ' ' ~ (course.trainer.lastname|upper) }) }}" href="{{ path('app_embed', { slide: course.link }) }}" class="text-black text-decoration-none">
    <div class="splide__slide__container">
      <img class="img-course" alt="Illustration {{ course.title }}" src="{{ illustration }}" loading="lazy" />
      <div>
        <span>{{ course.title }}</span>
      </div>
    </div>
  </a>
</li>
