{% if course.module.illustration is defined and course.module.illustration is not empty %}
  {% if course.module.illustration starts with 'http://' or course.module.illustration starts with 'https://' %}
    {# If the illustration is hosted elsewhere #}
    {% set illustration = course.module.illustration %}
  {% else %}
    {# If the resource is local #}
    {% set illustration = asset('images/' ~ course.module.illustration) %}
  {% endif %}
{% else %}
  {# If no illustration is found, we use a default one #}
  {% set illustration = asset('images/not_found_404.svg') %}
{% endif %}

<div class="col-sm-12 col-md-3 col-lg-3 col-xxl-2 pb-5" id="cours_{{ course.id }}_{{ cohort.id }}" onclick="updateStatusCourse({{ course.id }},{{ cohort.id }});">
  <span class="admin-manage-imgs" id="cours_{{ course.id }}"><span class="{{ isActive ? 'cours-active' : 'cours-inactive' }}"><img class="img-course" alt="Illustration {{ course.title }}" src="{{ illustration }}" loading="lazy" /></span></span>
  <p class="admin-manage-text">
    <strong>[{{ course.module.label }}]</strong>&nbsp;{{ course.title }}
  </p>
</div>
