<div class="col-xs-1 col-lg-3 mb-3">
  <a title="Cours fait par {{ course.first_name|capitalize ~ ' ' ~ course.last_name|upper }}" href="{{ path('app_embed', { slide: course.link }) }}" class="text-decoration-none text-black">
    <div class="card">
      <span class="card-img-top"><img class="img-course" alt="Illustration {{ course.label }}" src="{{ asset('/images/' ~ course.illustration) }}" loading="lazy" /></span>
      <div class="card-body">
        <h5 class="card-title text-decoration-underline font-weight-bold">{{ course.title }}</h5>
        <p class="card-text">{{ course.synopsis }}</p>
      </div>
    </div>
  </a>
</div>
