<!DOCTYPE html>
<html lang="{{ app.request.locale }}" hrefLang="{{ app.request.locale }}">
  <head>
    <script>
      const setTheme = (theme) => {
        theme ??= localStorage.theme || 'light'
        document.documentElement.dataset.theme = theme
        document.documentElement.setAttribute('data-bs-theme', theme)
        localStorage.theme = theme
      }
      setTheme()
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#317EFB" />
    {% block seo %}
      <meta name="robots" content="index, follow" />
      <meta name="title" content="{{ 'global.meta_title'|trans }}" />
      <meta name="description" content="{{ 'global.meta_description'|trans }}">
      <!--Seo Réseaux-->
      <meta property="og:title" content="{{ 'global.meta_title'|trans }}">
      <meta property="og:type" content=website >
      <meta property="og:description" content="{{ 'global.meta_description'|trans }}">
      <meta property="og:image" content="{{ asset('/images/adrar_logo.svg') }}">
      <meta property="og:site_name" content="{{ 'global.meta_title'|trans }}">
      <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}">
      <!--Seo Twitter-->
      <meta property="twitter:title" content="{{ 'global.meta_title'|trans }}">
      <meta property="twitter:type" content=website >
      <meta property="twitter:description" content="{{ 'global.meta_description'|trans }}">
      <meta property="twitter:image" content="{{ asset('/images/adrar_logo.svg') }}">
      <meta name="twitter:card" content=summary >
    {% endblock %}

    <title>
      {% block title %}

      {% endblock %}&nbsp;- {{ 'global.meta_title'|trans }}
    </title>

    <link rel="icon" type="image/png" sizes="32x32" href="//adrar.dev/erp/public/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="//adrar.dev/erp/public/img/favicon-16x16.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/@sjmc11/tourguidejs/dist/css/tour.min.css">

    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
    {# Permet de personnaliser les vidéos #}
    {# <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> #}
    {# Permet d'afficher le code formaté pour les cours #}
    {# <link rel="stylesheet" href="{{ asset('css/prism.css') }}" /> #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/feedback.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/notifications.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/chatbot.css') }}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.0/af-2.7.0/r-3.0.2/datatables.min.css" rel="stylesheet">

    {# <link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css" /> #}
    {% block stylesheets %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> #}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.0/af-2.7.0/r-3.0.2/datatables.min.js"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    
    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light border-bottom border-light sticky-top bg-v1-primary" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('/images/adrar_epaf_logo.svg') }}" height="100" alt="Logo de l'ADRAR" id="logo_adrar" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">{{ 'header.home'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_modules') }}">{{ 'header.modules'|trans }}</a>
                </li>
                {% if is_granted('ROLE_TRAINER') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_dashboard') }}">{{ 'header.administration'|trans }}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_mailbox') }}">{{ 'header.mailbox'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_q_and_a') }}">{{ 'header.faq'|trans }}</a>
                </li>
                {# <li class="nav-item">
                  <form action="{{ path('_update_session_filter') }}">
                    <select name="form_filter_session" id="form_filter_session" class="form-select pe-5" onchange="this.form.submit();">
                      <option value="-1">Tout le secteur</option>
                      <option value="0" selected="">Toutes mes sessions</option>
                    </select>
                  </form>
                </li> #}
              </ul>
              {% if app.environment is same as("dev") %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white bg-danger px-2">
                <li>DEBUG</li>
              </ul>
              {% endif %}
              
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <form class="d-flex formIndex" role="search" action="#" method="GET" id="searchForm2">
                    <div class="hero">
                      <div id="searchBox" class="border rounded">
                        <i class="fa-solid fa-magnifying-glass fa-lg" id="searchIcon"></i>
                        <input type="text" class="inputNav" id="searchInput" placeholder="{{ 'header.search'|trans }}" autocomplete="off" />
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <div class="z-3 border position-absolute d-none bg-dark" id="containerSearchResults">
                    <div class="d-flex flex-column mx-3 my-2" id="searchResults">
                      <div class="d-none" data-category="courses" id="searchCourses">
                        <span class="h3">{{ 'global.courses'|trans }}</span>
                        <div></div>
                        <hr />
                      </div>
                      <div class="d-none" data-category="trainees" id="searchTrainees">
                        <span class="h3">{{ 'global.trainees'|trans }}</span>
                        <div></div>
                        <hr />
                      </div>
                      <div class="d-none" data-category="trainers" id="searchTrainers">
                        <span class="h3">{{ 'global.trainers'|trans }}</span>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item d-flex align-items-center px-1">
                  <div class="dropdown-container">
                    <a href="#" type="button" data-dropdown="notificationMenu" class="position-relative px-1">
                      <i class="fa fa-md fa-bell"></i>
                      {% if (notificationsHomeworksToDo is defined and notificationsHomeworksToDo is not empty) 
                        or (notificationsMessages is defined and notificationsMessages is not empty) 
                        or (notificationsInternships is defined and notificationsInternships is not empty) 
                        or (notificationsNewCourses is defined and notificationsNewCourses is not empty) %}
                      <span class="position-absolute top-0 start-25 translate-middle badge border border-light rounded-circle bg-danger p-1"><span class="visually-hidden">{{ 'notifications.unread_messages'|trans }}</span>
                      </span>
                      {% endif %}
                    </a>
                    <ul class="dropdown z-1" name="notificationMenu">
                      <li class="notification-group {{ is_granted('ROLE_TRAINER') ? 'd-none' : '' }}" id="notificationsToDo">
                        <div class="notification-tab">
                          <i class="fa fa-list-check"></i>
                          <h6>A faire</h6>
                          <span class="label">{{ notificationsHomeworksToDo is defined and notificationsHomeworksToDo is not empty ? notificationsHomeworksToDo|length : 0 }}</span>
                        </div>
                        <!-- tab -->
                        <ul class="notification-list">
                          {% if notificationsHomeworksToDo is defined and notificationsHomeworksToDo is not empty %}
                            {% for notification in notificationsHomeworksToDo %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">{{ 'notifications.no_new_homework'|trans }}</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                      <li class="notification-group" id="notificationsMessages">
                        <div class="notification-tab">
                          <i class="fa fa-envelope"></i>
                          <h6>Messages</h6>
                          <span class="label">{{ notificationsMessages is defined and notificationsMessages is not empty ? notificationsMessages|length : 0 }}</span>
                        </div>
                        <ul class="notification-list">
                          {% if notificationsMessages is defined and notificationsMessages is not empty %}
                            {% for notification in notificationsMessages %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">{{ 'notifications.no_new_message'|trans }}</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                      {% if is_granted('ROLE_TRAINER') %}
                      <li class="notification-group" id="notificationsInternships">
                        <div class="notification-tab">
                          <i class="fa fa-graduation-cap"></i>
                          <h6>Internships</h6>
                          <span class="label">{{ notificationsInternships is defined and notificationsInternships is not empty ? notificationsInternships|length : 0 }}</span>
                        </div>
                        <ul class="notification-list">
                          {% if notificationsInternships is defined and notificationsInternships is not empty %}
                            {% for notification in notificationsInternships %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">{{ 'notifications.no_new_internship'|trans }}</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                      {% endif %}
                      <li class="notification-group {{ is_granted('ROLE_TRAINER') ? 'd-none' : '' }}" id="notificationsCourses">
                        <div class="notification-tab">
                          <i class="fa fa-circle-info"></i>
                          <h6>Cours</h6>
                          <span class="label">{{ notificationsNewCourses is defined and notificationsNewCourses is not empty ? notificationsNewCourses|length : 0 }}</span>
                        </div>
                        <ul class="notification-list">
                          {% if notificationsNewCourses is defined and notificationsNewCourses is not empty %}
                            {% for notification in notificationsNewCourses %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">{{ 'notifications.no_new_course'|trans }}</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown_language" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.request.get('_locale') }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar_dropdown_language">
                    <li>
                      <a class="dropdown-item" href="{{ app.request.requestUri|replace({"/en/": "/fr/"}) }}">{{ 'global.language_french'|trans }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ app.request.requestUri|replace({"/fr/": "/en/"}) }}">{{ 'global.language_english'|trans }}</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.firstName|capitalize }}&nbsp;{{ app.user.lastName|upper }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar_dropdown_user">
                    <li>
                      <a class="dropdown-item" href="{{ path('app_account') }}">Modifier mes informations</a>
                    </li>
                    <li>
                      <a class="dropdown-item nav-link form-check form-switch" href="#">
                        <input class="form-check-input" type="checkbox" role="switch" id="form_dark_mode" />
                        <label class="form-check-label" for="form_dark_mode">Dark mode</label>
                      </a>
                    </li>
                    <li>
                      {% if is_granted('IS_IMPERSONATOR') %}
                        <a class="dropdown-item" href="?_switch_user=_exit">Sortir de l'impersonation</a>
                      {% endif %}
                      <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    <li class="text-muted text-end pe-3">
                      <p class="text-reset">v.{{ app_version() ~ "." ~ app.environment|upper }}</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
      {% block feedback %}
        <a role="button" data-bs-toggle="modal" data-bs-target="#modalFeedback" class="feedback-button" href="#">Feedback</a>
      {% endblock %}
      {% for flashMessage in app.session.flashbag.get('notice') %}
        {% include '_components/_alert.html.twig' with { 'type': 'success', 'bg': 'success', 'fa': 'bell', 'message': flashMessage } %}
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('info') %}
        {% include '_components/_alert.html.twig' with { 'type': 'info', 'bg': 'info', 'fa': 'info', 'message': flashMessage } %}
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '_components/_alert.html.twig' with { 'type': 'error', 'bg': 'danger', 'fa': 'times', 'message': flashMessage } %}
      {% endfor %}
      <main class="mb-5">
        {% block main %}

        {% endblock %}
      </main>
      {% block footer %}
        <footer class="border-top border-light bg-v1-primary fixed-bottom">
          <p class="text-center m-0">
            &copy; 2022 - {{ 'now'|date('Y') }} ADRAR - {{ 'footer.text'|trans }} <a href="http://www.marceau-rodrigues.fr" target="_blank">Marceau RODRIGUES</a>&nbsp;-&nbsp;<a href="{{ path('app_legal_notices') }}">{{ 'footer.legal_notices'|trans }}</a>&nbsp;|&nbsp;<a href="{{ path('app_privacy_policy') }}">{{ 'footer.privacy_policy'|trans }}</a>
          </p>
        </footer>
      {% endblock %}
      <div id="chatbot" class="main-card collapsed border">
        <button id="chatbot_toggle">
          <span class="visually-hidden">chatbot</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="display:none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
          </svg>
        </button>
        <div class="main-title">
          <div>
            <svg viewBox="0 0 640 512" title="robot">
              <path fill="currentColor" d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
            </svg>
          </div>
          <span>Chatbot</span>
        </div>
        <div class="chat-area" id="message-box">
          <div class="text-center">
            <img src="{{ asset('/images/adrar_epaf_logo.svg') }}" height="125" alt="Logo de l'ADRAR">
          </div>
          <div class="chat-message-div"></div>
        </div>
        <div class="line"></div>
        <div class="input-div">
          <input class="input-message" name="message" type="text" id="message" placeholder="{{ 'chatbot.placeholder'|trans }}" />
          <button class="input-send" onclick="send()">
            <span class="visually-hidden">message</span>
            <svg style="width:24px;height:24px">
              <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="modal modal-xl fade" id="modalFeedback" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="modalFeedbackTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="container">
                <div class="row">
                  <h5 class="modal-title w-auto" id="modalFeedbackTitle">{{ 'feedback.title'|trans }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="modal-body">
              <form action="#" method="POST" id="form_feedback">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="form_feedback_link" class="form-label mb-0 required">{{ 'feedback.form_link'|trans }}</label>
                        <input type="text" class="form-control" name="form_feedback_link" id="form_feedback_link" placeholder="https://..." value="{{ app.request.uri }}" />
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_category" class="form-label mb-0 required">{{ 'feedback.form_category'|trans }}</label>
                        <select name="form_feedback_category" id="form_feedback_category" class="form-select">
                          <option value="0" disabled selected>{{ 'feedback.form_category_placeholder'|trans }}</option>
                          {% for feedbackCategory in feedbackCategories %}
                            <option value="{{ feedbackCategory.id }}">{{ feedbackCategory.label }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_weight" class="form-label mb-0 required">{{ 'feedback.form_weight'|trans }}</label>
                        <select name="form_feedback_weight" id="form_feedback_weight" class="form-select">
                          <option value="0" disabled selected>{{ 'feedback.form_weight_placeholder'|trans }}</option>
                          <option value="1">1 - {{ 'feedback.form_weight_light'|trans }}</option>
                          <option value="2">2 - {{ 'feedback.form_weight_medium'|trans }}</option>
                          <option value="3">3 - {{ 'feedback.form_weight_medium'|trans }}</option>
                          <option value="4">4 - {{ 'feedback.form_weight_heavy'|trans }}</option>
                          <option value="5">5 - {{ 'feedback.form_weight_critical'|trans }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_annotation" class="form-label mb-0 required">{{ 'feedback.form_description'|trans }}</label>
                        <textarea class="form-control" name="form_feedback_annotation" id="form_feedback_annotation" rows="5" placeholder="{{ 'feedback.form_description_placeholder'|trans }}"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <a value="Envoyer" class="btn btn-primary float-end" onclick="sendFeedback();$('#form_feedback').reset();$('#modalFeedback').modal('hide');" role="button">{{ 'global.btn_send'|trans }}</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {# Permet de personnaliser les vidéos #}
      {# <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script> #}
      {# Permet d'afficher le code formaté pour les cours #}
      {# <script src="{{ asset('js/prism.js') }}"></script> #}
      <script src="https://unpkg.com/@sjmc11/tourguidejs/dist/tour.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="{{ asset('js/app.js') }}"></script>
      <script>
        if(typeof locale === "undefined") {
          let locale;
        }
          locale = "{{ app.request.attributes.get('_locale') }}";
      </script>
      <script src="{{ asset('js/darkMode.js') }}"></script>
      <script src="{{ asset('js/script.js') }}"></script>
      <script src="{{ asset('js/notifications.js') }}"></script>
      {# <script src="{{ asset('js/chatbot.js') }}"></script> #}
      <script>
        var running = false;
        function send() {
            if (running == true) return;
            var msg = document.getElementById("message").value.trim();
            if (msg == "") return;
            running = true;
            addMsg(msg);
            console.log('Message sent: ' + msg);
            //DELEAY MESSAGE RESPOSE Echo
            window.setTimeout(addResponseMsg, 1000, msg, true);
        }
        function addMsg(msg) {
            var div = document.createElement("div");
            div.innerHTML =
                "<span style='flex-grow:1'></span><div class='chat-message-sent'>" +
                msg +
                "</div>";
            div.className = "chat-message-div";
            document.getElementById("message-box").appendChild(div);
            //SEND MESSAGE TO API
            document.getElementById("message").value = "";
            document.getElementById("message-box").scrollTop = document.getElementById(
                "message-box"
            ).scrollHeight;
        }
        function addResponseMsg(msg, ajax = false) {
            if (ajax) {
                var formData = new FormData();
                formData.append("form_chatbot_message", msg);
                $.ajax({
                  url: "/" + locale + "/chatbot",
                  method: "post",
                  dataType: "json",
                  data: formData,
                  processData: false,
                  contentType: false,
                  success: function (r) {
                    if (r.success) {
                      let msg = r.message;
                      var div = document.createElement("div");
                      div.innerHTML = "<div class='chat-message-received'>" + msg + "</div>";
                      div.className = "chat-message-div";
                      document.getElementById("message-box").appendChild(div);
                      document.getElementById("message-box").scrollTop = document.getElementById(
                          "message-box"
                      ).scrollHeight;
                      running = false;
                    }
                  },
                  error: function (e) {
                      console.error(e.getMessage());
                  },
                });
            } else {
              var div = document.createElement("div");
              div.innerHTML = "<div class='chat-message-received'>" + msg + "</div>";
              div.className = "chat-message-div";
              document.getElementById("message-box").appendChild(div);
              document.getElementById("message-box").scrollTop = document.getElementById(
                  "message-box"
              ).scrollHeight;
              running = false;
            }
            console.log('Message received: ' + msg);
        }
        document.getElementById("message").addEventListener("keyup", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                send();
            }
        });
        document.getElementById("chatbot_toggle").onclick = function () {
            if (document.getElementById("chatbot").classList.contains("collapsed")) {
              document.getElementById("chatbot").classList.remove("collapsed")
              document.getElementById("chatbot_toggle").children[1].style.display = "none"
              document.getElementById("chatbot_toggle").children[2].style.display = ""
              // Default display message
              setTimeout(addResponseMsg, 1000, "{{ 'chatbot.welcome'|trans({'%user%': app.user.username }) }}", false)
            } else {
                document.getElementById("chatbot").classList.add("collapsed")
                document.getElementById("chatbot_toggle").children[1].style.display = ""
                document.getElementById("chatbot_toggle").children[2].style.display = "none"
            }
        }
      </script>
      <script>
        if(typeof tg === "undefined") {
          let tg;
        } 
        $(document).ready(function () {
          // Gestion du TourGuide
          if ({{ is_granted('ROLE_TRAINEE') ? 'true' : 'false' }}) {
            const stepsTourGuideTrainee = [
              {
                title: "Tutoriel",
                content: "Ce petit tutoriel a pour but de vous montrer comment fonctionne le site. Libre à vous de le passer. <br>Vous pourrez le relancer à tout moment en cliquant sur le bouton en haut à droite dans vos informations personnelles.", 
                position: 'center', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              },
              {
                title: "{{ 'tourguide.index.trainee.navbar.title'|trans }}",
                target: '#navbar',
                content: "{{ 'tourguide.index.trainee.navbar.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              },
              {
                title: "{{ 'tourguide.index.trainee.feedback.title'|trans }}",
                target: '.feedback-button',
                content: "{{ 'tourguide.index.trainee.feedback.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              },
              {
                title: "{{ 'tourguide.index.trainee.courses.last_courses.title'|trans }}",
                target: 'main .container .row:nth-of-type(3)',
                content: "{{ 'tourguide.index.trainee.courses.last_courses.content'|trans }}",
                position: 'right', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              },
              {
                title: "{{ 'tourguide.index.trainee.courses.popular_courses.title'|trans }}",
                target: 'main .container .row:nth-of-type(4)',
                content: "{{ 'tourguide.index.trainee.courses.popular_courses.content'|trans }}",
                position: 'right', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              },
              {
                title: "{{ 'tourguide.index.trainee.survey.title'|trans }}",
                target: 'main .container .row:nth-of-type(5)',
                content: "{{ 'tourguide.index.trainee.survey.content_bis'|trans }}",
                position: 'right', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.chatbot.title'|trans }}",
                target: '#chatbot',
                content: "{{ 'tourguide.index.trainee.chatbot.content'|trans }}",
                position: 'top', 
                group: 'trainee-index', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.survey.title'|trans }}",
                target: '#endSurvey',
                content: "{{ 'tourguide.index.trainee.survey.content'|trans }}",
                position: 'right', 
                group: 'trainee-end-survey-index', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.modules.title'|trans }}",
                target: '#liste_modules',
                content: "{{ 'tourguide.index.trainee.modules.content'|trans }}",
                position: 'right', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.modules.example.title'|trans }}",
                target: '#liste_modules .card:nth-of-type(1)',
                content: "{{ 'tourguide.index.trainee.modules.example.content'|trans }}",
                position: 'right', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: "{{ path('app_course', {'course': '31deef88-6dc3-4b4b-8c80-44210a4eac31'}) }}"
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.title'|trans }}",
                target: '#liste_cours',
                content: "{{ 'tourguide.index.trainee.courses.content'|trans }}",
                position: 'right', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.example.title'|trans }}",
                target: '#liste_cours .card:nth-of-type(1)',
                content: "{{ 'tourguide.index.trainee.courses.example.content'|trans }}",
                position: 'right', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.example.resources.title'|trans }}",
                target: '#liste_cours .card:nth-of-type(1) .fa-book',
                content: "{{ 'tourguide.index.trainee.courses.example.resources.content'|trans }}",
                position: 'right', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: "{{ path('app_embed', {'slide': '2PACX-1vSKeR0dFKWdpRfcbrD-zlwwRXaxgJnZxQSvw8UNWYpTh2DQ19vfhDLWrLz_4esmuEySbhLhF-0kYoR6'}) }}"              
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.example.embed.title'|trans }}",
                target: 'iframe',
                content: "{{ 'tourguide.index.trainee.courses.example.embed.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.example.embed.resources.title'|trans }}",
                target: '#liste_ressources',
                content: "{{ 'tourguide.index.trainee.courses.example.embed.resources.content'|trans }}",
                position: 'top', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.courses.example.embed.resources.give.title'|trans }}",
                target: '#liste_tps .card .fa-arrow-up-from-bracket',
                content: "{{ 'tourguide.index.trainee.courses.example.embed.resources.give.content'|trans }}",
                position: 'top', 
                group: 'trainee-modules', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.title'|trans }}",
                target: 'main .container-fluid',
                content: "{{ 'tourguide.index.trainee.mailbox.content'|trans }}",
                position: 'top', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.example.contacts.title'|trans }}",
                target: '#liste_contacts',
                content: "{{ 'tourguide.index.trainee.mailbox.example.contacts.content'|trans }}",
                position: 'top', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.example.conversation.title'|trans }}",
                target: '#messages',
                content: "{{ 'tourguide.index.trainee.mailbox.example.conversation.content'|trans }}",
                position: 'top', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.example.contacts.cohort.title'|trans }}",
                target: '#liste_contacts a:nth-of-type(1)',
                content: "{{ 'tourguide.index.trainee.mailbox.example.contacts.cohort.content'|trans }}",
                position: 'right', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.example.contacts.trainer.title'|trans }}",
                target: '#liste_contacts a:nth-of-type(2)',
                content: "{{ 'tourguide.index.trainee.mailbox.example.contacts.trainer.content'|trans }}",
                position: 'right', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.mailbox.example.contacts.trainees.title'|trans }}",
                target: '#liste_contacts #chat-trainees',
                content: "{{ 'tourguide.index.trainee.mailbox.example.contacts.trainees.content'|trans }}",
                position: 'right', 
                group: 'trainee-mailbox', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.informations.tab.title'|trans }}",
                target: '#subnavbar',
                content: "{{ 'tourguide.index.trainee.account.informations.tab.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.replay_tutorial.title'|trans }}",
                target: '#btn_replay_tutorial',
                content: "{{ 'tourguide.index.trainee.account.replay_tutorial.content'|trans }}",
                position: 'left', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.avatar.title'|trans }}",
                target: '#liste_avatars',
                content: "{{ 'tourguide.index.trainee.account.avatar.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.informations.title'|trans }}",
                target: '#form_user',
                content: "{{ 'tourguide.index.trainee.account.informations.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.informations.signature.title'|trans }}",
                target: '#signature-pad',
                content: "{{ 'tourguide.index.trainee.account.informations.signature.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
              {
                title: "{{ 'tourguide.index.trainee.account.informations.actual_signature.title'|trans }}",
                target: '#actual-signature',
                content: "{{ 'tourguide.index.trainee.account.informations.actual_signature.content'|trans }}",
                position: 'bottom', 
                group: 'trainee-informations', 
                display_modal: false, 
                link: null
              }, 
            ];
            tg = new tourguide.TourGuideClient({
              steps: stepsTourGuideTrainee,
              rememberStep: true,
              prevLabel: "{{ 'global.btn_previous'|trans }}",
              nextLabel: "{{ 'global.btn_next'|trans }}",
              dialogClass: 'tourguide-dialog',
              backdropClass: 'tourguide-backdrop',
              progressBar: '#45BEEB', 
              hidePrev: true // Avoid to show the previous button which is buggy with the modal
            });
            tg.onBeforeStepChange(()=>{
              return new Promise((resolve, reject) => {
                if(tg.tourSteps[tg.activeStep].link !== null) {
                  window.location.href = tg.tourSteps[tg.activeStep].link;
                } 
                return resolve(true);
                {# else {
                  return reject()
                } #}
              });
            }); 
            tg.onAfterStepChange(()=>{
              return new Promise((resolve, reject) => { 
                if (tg.tourSteps[tg.activeStep].display_modal === true) {
                  $('#modalFeedback').modal("show");
                } else if (tg.tourSteps[tg.activeStep].display_modal === false) {
                  $('#modalFeedback').modal("hide");
                }
                return resolve(true);
                {# else {
                  return reject()
                } #}
              });
            }); 
          }

          $('#searchInput').on('keyup', () => {
            if ($('#searchInput').val().length >= 3) {
              $.ajax({
                url: `{{ path('app_search') }}`,
                method: 'POST',
                dataType: 'json',
                async: true,
                data: {
                  q: $('#searchInput').val()
                },
                success: (r) => {
                  // Suppression des résultats précédents
                  $('#searchResults #searchCourses > div > a').remove()
                  $('#searchResults #searchTrainees > div > div > a').remove()
                  $('#searchResults #searchTrainers > div > div > a').remove()
                  $('#containerSearchResults').removeClass('d-none')
                  $('#containerSearchResults').addClass('show')
                  if (r.courses.length > 0) {
                    $('#searchResults #searchCourses').removeClass('d-none')
                    r.courses.forEach((course) => {
                      $('#searchResults #searchCourses > div').html($('#searchResults #searchCourses > div').html() + '<a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/embed/' + course.link + '"><div><i class="fa-solid fa-pager"></i>&nbsp;' + course.title + '</div></a>')
                    })
                  } else {
                    0
                    $('#searchResults #searchCourses').addClass('d-none')
                  }
        
                  if (r.trainees.length > 0) {
                    $('#searchResults #searchTrainees').removeClass('d-none')
                    r.trainees.forEach((trainee) => {
                      $('#searchResults #searchTrainees > div').html($('#searchResults #searchTrainees > div').html() + '<div><a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainee/' + trainee.uuid + '"><div><i class="fa-solid fa-user"></i>&nbsp;' + "[20"+ trainee.username.slice(-2) + "] " + trainee.lastName + ' ' + trainee.firstName + '</div></a>{% if is_granted("ROLE_TRAINER") and app.environment == "dev" %}<a class="btn btn-outline-primary m-1" href="?_switch_user=' + trainee.username + '"><i class="fa-solid fa-plug"></i></a>{% endif %}{% if is_granted("ROLE_TRAINER") %}<a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainee/' + trainee.uuid + '"><i class="fa-solid fa-eye"></i></a>{% endif %}<a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/mailbox/trainee/' + trainee.uuid + '"><i class="fa-solid fa-paper-plane"></i></a></div>')
                    })
                  } else {
                    $('#searchResults #searchTrainees').addClass('d-none')
                  }
        
                  if (r.trainers.length > 0) {
                    $('#searchResults #searchTrainers').removeClass('d-none')
                    r.trainers.forEach((trainer) => {
                      $('#searchResults #searchTrainers > div').html($('#searchResults #searchTrainers > div').html() + '<div><a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainer/' + trainer.uuid + '"><div><i class="fa-solid fa-user"></i>&nbsp;' + trainer.lastName + ' ' + trainer.firstName + '</div></a><a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainer/' + trainer.uuid + '"><i class="fa-solid fa-eye"></i></a><a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/mailbox/trainer/' + trainer.uuid + '"><i class="fa-solid fa-paper-plane"></i></a></div>')
                    })
                  } else {
                    $('#searchResults #searchTrainers').addClass('d-none')
                  }
                },
                error: (r) => {
                  alert(r.message)
                }
              })
            } else {
              $('#searchResults #searchCourses > div > a').remove()
              $('#searchResults #searchTrainees > div > div > a').remove()
              $('#searchResults #searchTrainers > div > div > a').remove()
              $('#containerSearchResults').addClass('d-none')
            }
          })
        })
      </script>
    {% endblock %}
    {% block js %}

    {% endblock %}
  </body>
</html>
