<!DOCTYPE html>
<html lang="{{ app.request.locale }}" hrefLang="{{ app.request.locale }}">
  <head>
    <script>
      const setTheme = (theme) => {
        theme ??= localStorage.theme || 'light'
        document.documentElement.dataset.theme = theme
        document.documentElement.setAttribute('data-bs-theme', theme)
        localStorage.theme = theme
      }
      setTheme()
    </script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="theme-color" content="#317EFB" />
    <meta name="title" content="{{ 'global.meta_title'|trans }}" />
    <meta name="description" content="{{ 'global.meta_description'|trans }}" />
    <title>
      {% block title %}

      {% endblock %}&nbsp;- {{ 'global.meta_title'|trans }}
    </title>

    <link rel="icon" type="image/png" sizes="32x32" href="//adrar.dev/erp/public/img/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="//adrar.dev/erp/public/img/favicon-16x16.png" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.2.1/font-awesome-animation.min.css" />
    
    <link rel="stylesheet" href="{{ asset('css/bootstrap/bootstrap.min.css') }}" />
    {# Permet de personnaliser les vidéos #}
    {# <link href="https://vjs.zencdn.net/8.10.0/video-js.css" rel="stylesheet" /> #}
    {# Permet d'afficher le code formaté pour les cours #}
    {# <link rel="stylesheet" href="{{ asset('css/prism.css') }}" /> #}
    <link rel="stylesheet" href="{{ asset('css/app.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/feedback.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/notifications.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/chatbot.css') }}" />
    <link rel="stylesheet" href="//cdn.datatables.net/1.13.4/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="//cdn.datatables.net/2.1.0/css/dataTables.dataTables.min.css" />
    <link href="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.0/af-2.7.0/r-3.0.2/datatables.min.css" rel="stylesheet">

    {# <link rel="stylesheet" href="//cdn.datatables.net/responsive/3.0.2/css/responsive.dataTables.css" /> #}
    {% block stylesheets %}

    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    {# <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script> #}
    <script src="https://cdn.datatables.net/v/bs5/jq-3.7.0/dt-2.1.0/af-2.7.0/r-3.0.2/datatables.min.js"></script>
    <script src="{{ asset('js/bootstrap/bootstrap.bundle.min.js') }}"></script>
    
    {% block javascripts %}
      {% block importmap %}
        {{ importmap('app') }}
      {% endblock %}
    {% endblock %}
  </head>
  <body>
    {% block body %}
      {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light border-bottom border-light sticky-top bg-v1-primary" id="navbar">
          <div class="container-fluid">
            <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('/images/adrar_logo.svg') }}" height="100" alt="Logo de l'ADRAR" id="logo_adrar" /></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="{{ path('app_home') }}">{{ 'header.home'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_modules') }}">{{ 'header.modules'|trans }}</a>
                </li>
                {% if is_granted('ROLE_TRAINER') %}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_admin_dashboard') }}">{{ 'header.administration'|trans }}</a>
                  </li>
                {% endif %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_mailbox') }}">{{ 'header.mailbox'|trans }}</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ path('app_q_and_a') }}">{{ 'header.faq'|trans }}</a>
                </li>
                {# <li class="nav-item">
                  <form action="{{ path('_update_session_filter') }}">
                    <select name="form_filter_session" id="form_filter_session" class="form-select pe-5" onchange="this.form.submit();">
                      <option value="-1">Tout le secteur</option>
                      <option value="0" selected="">Toutes mes sessions</option>
                    </select>
                  </form>
                </li> #}
              </ul>
              {% if app.environment is same as("dev") %}
              <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-white bg-danger px-2">
                DEBUG
              </ul>
              {% endif %}
              
              <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <form class="d-flex formIndex" role="search" action="#" method="GET" id="searchForm2">
                    <div class="hero">
                      <div id="searchBox" class="border rounded">
                        <i class="fa-solid fa-magnifying-glass fa-lg" id="searchIcon"></i>
                        <input type="text" class="text-white inputNav" id="searchInput" placeholder="{{ 'header.search'|trans }}" autocomplete="off" />
                      </div>
                    </div>
                  </form>
                </li>
                <li>
                  <div class="z-3 border position-absolute d-none bg-dark" style="margin-top: 3.9vh;width: 24.3vw;margin-right: 0.313rem;top: auto;right: 10.313rem;" id="containerSearchResults">
                    <div class="d-flex flex-column mx-3 my-2" id="searchResults">
                      <div class="d-none" data-category="courses" id="searchCourses">
                        <span class="h3">Cours</span>
                        <div></div>
                        <hr />
                      </div>
                      <div class="d-none" data-category="trainees" id="searchTrainees">
                        <span class="h3">Stagiaires</span>
                        <div></div>
                        <hr />
                      </div>
                      <div class="d-none" data-category="trainers" id="searchTrainers">
                        <span class="h3">Formateurs</span>
                        <div></div>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-item d-flex align-items-center px-1">
                  <div class="dropdown-container">
                    <a href="#" data-dropdown="notificationMenu" class="menu-link has-notifications circle"><i class="fa fa-md fa-bell"></i></a>
                    <ul class="dropdown" name="notificationMenu">
                      <li class="notification-group {{ is_granted('ROLE_TRAINER') ? 'd-none' : '' }}" id="notificationsToDo">
                        <div class="notification-tab">
                          <i class="fa fa-list-check"></i>
                          <h4>A faire</h4>
                          <span class="label">{{ notificationsHomeworksToDo is defined and notificationsHomeworksToDo is not empty ? notificationsHomeworksToDo|length : 0 }}</span>
                        </div>
                        <!-- tab -->
                        <ul class="notification-list">
                          {% if notificationsHomeworksToDo is defined and notificationsHomeworksToDo is not empty %}
                            {% for notification in notificationsHomeworksToDo %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">Aucun devoir à rendre !</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                      <li class="notification-group" id="notificationsMessages">
                        <div class="notification-tab">
                          <i class="fa fa-envelope"></i>
                          <h4>Messages</h4>
                          <span class="label">{{ notificationsMessages is defined and notificationsMessages is not empty ? notificationsMessages|length : 0 }}</span>
                        </div>
                        <ul class="notification-list">
                          {% if notificationsMessages is defined and notificationsMessages is not empty %}
                            {% for notification in notificationsMessages %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">Aucun message reçu...</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                      <li class="notification-group {{ is_granted('ROLE_TRAINER') ? 'd-none' : '' }}" id="notificationsCourses">
                        <div class="notification-tab">
                          <i class="fa fa-circle-info"></i>
                          <h4>Cours</h4>
                          <span class="label">{{ notificationsNewCourses is defined and notificationsNewCourses is not empty ? notificationsNewCourses|length : 0 }}</span>
                        </div>
                        <ul class="notification-list">
                          {% if notificationsNewCourses is defined and notificationsNewCourses is not empty %}
                            {% for notification in notificationsNewCourses %}
                              {% include "_components/_notification.html.twig" %}
                            {% endfor %}
                          {% else %}
                            <li class="notification-list-item">
                              <p class="message">Pas de nouveau cours partagé...</p>
                            </li>
                          {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown_language" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.request.get('_locale') }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar_dropdown_language">
                    <li>
                      <a class="dropdown-item" href="{{ app.request.requestUri|replace({"/en/": "/fr/"}) }}">{{ 'global.language_french'|trans }}</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ app.request.requestUri|replace({"/fr/": "/en/"}) }}">{{ 'global.language_english'|trans }}</a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbar_dropdown_user" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ app.user.firstName|capitalize }}&nbsp;{{ app.user.lastName|upper }}</a>
                  <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbar_dropdown_user">
                    <li>
                      <a class="dropdown-item" href="{{ path('app_account') }}">Modifier mes informations</a>
                    </li>
                    <li>
                      <a class="dropdown-item nav-link form-check form-switch" href="#">
                        <input class="form-check-input" type="checkbox" role="switch" id="form_dark_mode" />
                        <label class="form-check-label" for="form_dark_mode">Dark mode</label>
                      </a>
                    </li>
                    <li>
                      {% if is_granted('IS_IMPERSONATOR') %}
                        <a class="dropdown-item" href="?_switch_user=_exit">Sortir de l'impersonation</a>
                      {% endif %}
                      <a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
                    </li>
                    <li class="text-muted text-end pe-3">
                      <p class="text-reset">v.{{ app_version() ~ "." ~ app.environment|upper }}</p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
      {% endblock %}
      {% block feedback %}
        <a role="button" data-bs-toggle="modal" data-bs-target="#modalFeedback" class="feedback-button" href="#">Feedback</a>
      {% endblock %}
      {% for flashMessage in app.session.flashbag.get('notice') %}
        {% include '_components/_alert.html.twig' with { 'type': 'success', 'bg': 'success', 'fa': 'bell', 'message': flashMessage } %}
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('info') %}
        {% include '_components/_alert.html.twig' with { 'type': 'info', 'bg': 'info', 'fa': 'info', 'message': flashMessage } %}
      {% endfor %}
      {% for flashMessage in app.session.flashbag.get('error') %}
        {% include '_components/_alert.html.twig' with { 'type': 'error', 'bg': 'danger', 'fa': 'times', 'message': flashMessage } %}
      {% endfor %}
      <main class="mb-5">
        {% block main %}

        {% endblock %}
      </main>
      {% block footer %}
        <footer class="border-top border-light bg-v1-primary fixed-bottom">
          <p class="text-center m-0">
            &copy; 2022 - {{ 'now'|date('Y') }} ADRAR - {{ 'footer.text'|trans }} <a href="http://www.marceau-rodrigues.fr" target="_blank">Marceau RODRIGUES</a>&nbsp;-&nbsp;<a href="{{ path('app_legal_notices') }}">{{ 'footer.legal_notices'|trans }}</a>&nbsp;|&nbsp;<a href="{{ path('app_privacy_policy') }}">{{ 'footer.privacy_policy'|trans }}</a>
          </p>
        </footer>
      {% endblock %}
      <div id="chatbot" class="main-card collapsed border">
        <button id="chatbot_toggle">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M15 4v7H5.17l-.59.59-.58.58V4h11m1-2H3c-.55 0-1 .45-1 1v14l4-4h10c.55 0 1-.45 1-1V3c0-.55-.45-1-1-1zm5 4h-2v9H6v2c0 .55.45 1 1 1h11l4 4V7c0-.55-.45-1-1-1z" />
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" style="display:none">
            <path d="M0 0h24v24H0V0z" fill="none" />
            <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
          </svg>
        </button>
        <div class="main-title">
          <div>
            <svg viewBox="0 0 640 512" title="robot">
              <path fill="currentColor" d="M32,224H64V416H32A31.96166,31.96166,0,0,1,0,384V256A31.96166,31.96166,0,0,1,32,224Zm512-48V448a64.06328,64.06328,0,0,1-64,64H160a64.06328,64.06328,0,0,1-64-64V176a79.974,79.974,0,0,1,80-80H288V32a32,32,0,0,1,64,0V96H464A79.974,79.974,0,0,1,544,176ZM264,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,264,256Zm-8,128H192v32h64Zm96,0H288v32h64ZM456,256a40,40,0,1,0-40,40A39.997,39.997,0,0,0,456,256Zm-8,128H384v32h64ZM640,256V384a31.96166,31.96166,0,0,1-32,32H576V224h32A31.96166,31.96166,0,0,1,640,256Z" />
            </svg>
          </div>
          <span>Chatbot</span>
        </div>
        <div class="chat-area" id="message-box"></div>
        <div class="line"></div>
        <div class="input-div">
          <input class="input-message" name="message" type="text" id="message" placeholder="{{ 'chatbot.placeholder'|trans }}" />
          <button class="input-send" onclick="send()">
            <svg style="width:24px;height:24px">
              <path d="M2,21L23,12L2,3V10L17,12L2,14V21Z" />
            </svg>
          </button>
        </div>
      </div>

      <div class="modal modal-xl fade" id="modalFeedback" data-bs-backdrop="true" data-bs-keyboard="true" tabindex="-1" aria-labelledby="modalFeedbackTitle" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <div class="container">
                <div class="row">
                  <h5 class="modal-title w-auto" id="modalFeedbackTitle">{{ 'feedback.title'|trans }}</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  &nbsp;
                </div>
              </div>
            </div>
            <div class="modal-body">
              <form action="#" method="POST" id="form_feedback">
                <div class="container">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label for="form_feedback_link" class="form-label mb-0 required">{{ 'feedback.form_link'|trans }}</label>
                        <input type="text" class="form-control" name="form_feedback_link" id="form_feedback_link" placeholder="https://..." value="{{ app.request.uri }}" />
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_category" class="form-label mb-0 required">{{ 'feedback.form_category'|trans }}</label>
                        <select name="form_feedback_category" id="form_feedback_category" class="form-select">
                          <option value="0" disabled selected>{{ 'feedback.form_category_placeholder'|trans }}</option>
                          {% for feedbackCategory in feedbackCategories %}
                            <option value="{{ feedbackCategory.id }}">{{ feedbackCategory.label }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_weight" class="form-label mb-0 required">{{ 'feedback.form_weight'|trans }}</label>
                        <select name="form_feedback_weight" id="form_feedback_weight" class="form-select">
                          <option value="0" disabled selected>{{ 'feedback.form_weight_placeholder'|trans }}</option>
                          <option value="1">1 - {{ 'feedback.form_weight_light'|trans }}</option>
                          <option value="2">2 - {{ 'feedback.form_weight_medium'|trans }}</option>
                          <option value="3">3 - {{ 'feedback.form_weight_medium'|trans }}</option>
                          <option value="4">4 - {{ 'feedback.form_weight_heavy'|trans }}</option>
                          <option value="5">5 - {{ 'feedback.form_weight_critical'|trans }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-12 mt-2">
                      <div class="form-group">
                        <label for="form_feedback_annotation" class="form-label mb-0 required">{{ 'feedback.form_description'|trans }}</label>
                        <textarea class="form-control" name="form_feedback_annotation" id="form_feedback_annotation" rows="5" placeholder="{{ 'feedback.form_description_placeholder'|trans }}"></textarea>
                      </div>
                    </div>
                  </div>
                  <div class="row mt-2">
                    <div class="col-12">
                      <a value="Envoyer" class="btn btn-primary float-end" onclick="sendFeedback();$('#form_feedback').reset();$('#modalFeedback').modal('hide');">{{ 'global.btn_send'|trans }}</a>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {# Permet de personnaliser les vidéos #}
      {# <script src="https://vjs.zencdn.net/8.10.0/video.min.js"></script> #}
      {# Permet d'afficher le code formaté pour les cours #}
      {# <script src="{{ asset('js/prism.js') }}"></script> #}
      <script src="{{ asset('js/app.js') }}"></script>
      <script src="{{ asset('js/darkMode.js') }}"></script>
      <script src="{{ asset('js/script.js') }}"></script>
      <script src="{{ asset('js/notifications.js') }}"></script>
      <script src="{{ asset('js/chatbot.js') }}"></script>
      <script>
        $(document).ready(function () {
          $('#searchInput').on('keyup', () => {
            if ($('#searchInput').val().length >= 3) {
              $.ajax({
                url: `{{ path('app_search') }}`,
                method: 'POST',
                dataType: 'json',
                async: true,
                data: {
                  q: $('#searchInput').val()
                },
                success: (r) => {
                  // Suppression des résultats précédents
                  $('#searchResults #searchCourses > div > a').remove()
                  $('#searchResults #searchTrainees > div > div > a').remove()
                  $('#searchResults #searchTrainers > div > div > a').remove()
                  $('#containerSearchResults').removeClass('d-none')
                  $('#containerSearchResults').addClass('show')
                  if (r.courses.length > 0) {
                    $('#searchResults #searchCourses').removeClass('d-none')
                    r.courses.forEach((course) => {
                      $('#searchResults #searchCourses > div').html($('#searchResults #searchCourses > div').html() + '<a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/embed/' + course.link + '"><div><i class="fa-solid fa-pager"></i>&nbsp;' + course.title + '</div></a>')
                    })
                  } else {
                    0
                    $('#searchResults #searchCourses').addClass('d-none')
                  }
        
                  if (r.trainees.length > 0) {
                    $('#searchResults #searchTrainees').removeClass('d-none')
                    r.trainees.forEach((trainee) => {
                      $('#searchResults #searchTrainees > div').html($('#searchResults #searchTrainees > div').html() + '<div><a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainee/' + trainee.uuid + '"><div><i class="fa-solid fa-user"></i>&nbsp;' + trainee.lastName + ' ' + trainee.firstName + '</div></a>{% if is_granted("ROLE_TRAINER") and app.environment == "dev" %}<a class="btn btn-outline-primary m-1" href="?_switch_user=' + trainee.username + '"><i class="fa-solid fa-plug"></i></a>{% endif %}<a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainee/' + trainee.uuid + '"><i class="fa-solid fa-eye"></i></a><a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/mailbox/trainee/' + trainee.uuid + '"><i class="fa-solid fa-paper-plane"></i></a></div>')
                    })
                  } else {
                    $('#searchResults #searchTrainees').addClass('d-none')
                  }
        
                  if (r.trainers.length > 0) {
                    $('#searchResults #searchTrainers').removeClass('d-none')
                    r.trainers.forEach((trainer) => {
                      $('#searchResults #searchTrainers > div').html($('#searchResults #searchTrainers > div').html() + '<div><a href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainer/' + trainer.uuid + '"><div><i class="fa-solid fa-user"></i>&nbsp;' + trainer.lastName + ' ' + trainer.firstName + '</div></a><a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/trainer/' + trainer.uuid + '"><i class="fa-solid fa-eye"></i></a><a class="btn btn-outline-primary m-1" href="/' + '{{ app.request.attributes.get("_locale") }}' + '/mailbox/trainer/' + trainer.uuid + '"><i class="fa-solid fa-paper-plane"></i></a></div>')
                    })
                  } else {
                    $('#searchResults #searchTrainers').addClass('d-none')
                  }
                },
                error: (r) => {
                  alert(r.message)
                }
              })
            } else {
              $('#searchResults #searchCourses > div > a').remove()
              $('#searchResults #searchTrainees > div > div > a').remove()
              $('#searchResults #searchTrainers > div > div > a').remove()
              $('#containerSearchResults').addClass('d-none')
            }
          })
        })
      </script>
    {% endblock %}
    {% block js %}

    {% endblock %}
  </body>
</html>
